In [1]:
import pandas as pd
import numpy as np

In [6]:
d = pd.DataFrame([[1,2,3,4], [11,21,31,41], [12,22,32,42]], columns=['a', 'b', 'c', 'd'])
d

    a   b   c   d
0   1   2   3   4
1  11  21  31  41
2  12  22  32  42

In [10]:
for r in d.values:
    print(dict(zip(d.columns, r)))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 11, 'b': 21, 'c': 31, 'd': 41}
{'a': 12, 'b': 22, 'c': 32, 'd': 42}